<div class="page-wrapper">
  <header>
    <nav>
      <ul>
        <li>
          <a routerLink="/garages" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-warehouse"></i>
            Propriedades
          </a>
        </li>
        <li>
          <a routerLink="/garages/add" routerLinkActive="active-link">
            <i class="fas fa-plus-circle"></i>
            Adicionar Propriedade
          </a>
        </li>
        <li>
          <a routerLink="/vehicles" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-car"></i>
            Veículos
          </a>
        </li>
        <li>
          <a routerLink="/vehicles/add" routerLinkActive="active-link">
            <i class="fas fa-plus"></i>
            Adicionar veículo
          </a>
        </li>
      </ul>
      <div class="nav-right-actions theme-toggle">
        <button (click)="toggleDarkMode()" [class.active]="isDarkMode">
          <span *ngIf="!isDarkMode" title="Claro"><i class="fa-solid fa-sun"></i></span>
          <span *ngIf="isDarkMode" title="Escuro"><i class="fa-solid fa-moon"></i></span>
        </button>
      </div>  
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <app-toast></app-toast>
  <footer>
    <p>&copy; 2025 - Propriedades e Veículos Grand Theft Auto V</p>
  </footer>
</div>
