
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #444;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.05rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bfff;
  text-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}

nav a.active-link {
  color: #00bfff;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}

/* Estilo MENU flutuante */
.theme-controls {
  position: relative;
  display: inline-block;
}

.config-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: #888;
  padding-right: 2rem;
  transition: color 0.2s ease;
}

.config-button:hover {
  color: #00bfff;
}

.config-button i {
  display: block;
  transition: transform 0.4s ease-in-out;
}

.config-button i.active-menu {
  color: #00bfff;
  transform: rotate(25deg);
}

.color-menu {
  position: absolute;
  top: 150%;
  right: 97%;
  background: #222222de;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.color-circle {
  width: 16px;
  height: 25px;
  margin-right: 0;
  border-radius: 50%;
  border: 1px solid rgb(94, 94, 94);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-circle:hover {
  transform: scale(1.1);
}

.color-circle.cyanGreen { background-color: #00ffc8; }
.color-circle.colorPink  { background-color: #ff4dff; }
.color-circle.colorBlue  { background-color: #1e90ff; }
.color-circle.colorPurple  { background-color: #cc66ff; }