<h2 class="title page-vehicles">
  {{ garageId ? 'Veículos na Garagem: ' + garageName : 'Veículos' }}
</h2>

<div class="filters-section" [formGroup]="filterForm">
  <input type="text" formControlName="searchQuery" placeholder="Buscar por nome, tipo, fabricante, categoria ou notas..." />

  <select formControlName="type">
    <option value="">Todos os Tipos</option>
    <option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</option>
  </select>

  <select formControlName="manufacturer">
    <option value="">Todos os Fabricantes</option>
    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">{{ manufacturer }}</option>
  </select>

  <select formControlName="category">
    <option value="">Todas as Categorias</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>

  <div>
    <label for="minTopSpeed">Vel. Mín: </label>
    <input type="number" id="minTopSpeed" formControlName="minTopSpeed" placeholder="Mín." />
  </div>
  <div>
    <label for="maxTopSpeed">Vel. Máx: </label>
    <input type="number" id="maxTopSpeed" formControlName="maxTopSpeed" placeholder="Máx." />
  </div>

  <div>
    <label for="minSeatingCapacity">Capacidade de Assentos (Mín):</label>
    <input type="number" id="minSeatingCapacity" formControlName="minSeatingCapacity" placeholder="Mín." />
  </div>
  <div>
    <label for="maxSeatingCapacity">Capacidade de Assentos (Máx):</label>
    <input type="number" id="maxSeatingCapacity" formControlName="maxSeatingCapacity" placeholder="Máx." />
  </div>

  <div class="sort-controls">
    <label for="sortBy">Ordenar por:</label>
    <select id="sortBy" formControlName="sortBy">
      <option value="id">ID</option>
      <option value="name">Nome</option>
      <option value="type">Tipo</option>
      <option value="manufacturer">Fabricante</option>
      <option value="category">Categoria</option>
      <option value="topspeed">Velocidade Máxima</option>
      <option value="seatingcapacity">Capacidade de Assentos</option>
    </select>
    <button type="button" (click)="toggleSortDirection()">
      {{ filterForm.get('sortDirection')?.value === 'asc' ? 'Ordem Ascendente' : 'Ordem Descendente' }}
      <span *ngIf="filterForm.get('sortDirection')?.value === 'asc'">⬆️</span>
      <span *ngIf="filterForm.get('sortDirection')?.value === 'desc'">⬇️</span>
    </button>
  </div>
</div>

<p class="empty-state-message" *ngIf="vehicles.length === 0">
  Nenhum veículo encontrado.
  <a routerLink="/vehicles/add">Adicionar um veículo agora!</a>
</p>

<div *ngIf="vehicles.length > 0">
  <div class="card-grid">
    <div class="app-card" *ngFor="let vehicle of vehicles">
      <div class="card-type">
        <p>{{ vehicle.name }}</p>
      </div>

      <div class="card-image-container" *ngIf="vehicle.imageUrl">
        <img class="card-image" [src]="getBaseUrl() + vehicle.imageUrl" alt="Imagem do Veículo">
      </div>
      <div class="card-image-container" *ngIf="!vehicle.imageUrl">
        <p>Sem imagem :&#40;</p>
      </div>

      <div class="card-content">

        <div class="card-details">
          <p>{{ vehicle.type }}</p>
          <p>{{ vehicle.manufacturer }}</p>
          <p>{{ vehicle.category }}</p>
          <p *ngIf="vehicle.garage">Garagem: {{ vehicle.garage.name }}</p>
          <p *ngIf="vehicle.notes">Notas: {{ vehicle.notes }}</p>
        </div>

        <div class="card-icons">
          <p><i class="fa-solid fa-gauge-high"></i> {{ vehicle.topSpeed ? vehicle.topSpeed + 'MPH' : '--'}}</p>
          <p><i class="fa-solid fa-users"></i> {{ vehicle.seatingCapacity ? vehicle.seatingCapacity : '0'}}</p>
        </div>

        <div class="button-group">
          <button class="button-edit" (click)="editVehicle(vehicle.id)" title="Editar Veículo"><i class="fa-solid fa-pencil"></i></button>
          <button class="button-delete" (click)="deleteVehicle(vehicle.id)" title="Excluir Veículo"><i class="fa-regular fa-trash-can"></i></button>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    [pagination]="pagination"
    [pageSize]="pageSize"
    [pageSizes]="pageSizes"
    (pageChange)="goToPage($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
</div>