
<form class="form-container" [formGroup]="garageForm" (ngSubmit)="onSubmit()">
  <h2 class="subtitle page-properties">{{ isEditMode ? 'Editar propriedade' : 'Adicionar nova propriedade' }}</h2>
  <input class="form-input" type="hidden" formControlName="id">

  <div class="form-group">
    <label class="form-label" for="type">Tipo:</label>
    <select class="form-select" id="type" formControlName="type">
      <option [ngValue]="''" disabled>Selecione um tipo</option>
      <option *ngFor="let propertyType of propertyTypes" [ngValue]="propertyType">{{ propertyType }}</option>
    </select>
    <div class="error-message" *ngIf="isFieldInvalid('type')">
      <span *ngIf="garageForm.get('type')?.errors?.['required']">O tipo da propriedade é obrigatório.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="name">Nome:</label>
    <input class="form-input" type="text" id="name" formControlName="name">
    <div class="error-message" *ngIf="isFieldInvalid('name')">
      <span *ngIf="garageForm.get('name')?.errors?.['required']">O nome da propriedade é obrigatório.</span>
      <span *ngIf="garageForm.get('name')?.errors?.['maxlength']">O nome da propriedade não pode exceder 100 caracteres.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="location">Localização</label>
    <input class="form-input" type="text" id="location" formControlName="location">
    <div class="error-message" *ngIf="isFieldInvalid('location')">
      <span *ngIf="garageForm.get('location')?.errors?.['required']">A localização da propriedade é obrigatória.</span>
      <span *ngIf="garageForm.get('location')?.errors?.['maxlength']">A localização da propriedade não pode exceder 200 caracteres.</span>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="stateArea">Estado/Área:</label>
    <input class="form-input" type="text" id="stateArea" formControlName="stateArea">
    <div class="error-message" *ngIf="isFieldInvalid('stateArea')">
      <span *ngIf="garageForm.get('stateArea')?.errors?.['required']">O Estado/Área da propriedade é obrigatório.</span>
      <span *ngIf="garageForm.get('stateArea')?.errors?.['maxlength']">O Estado/Área não pode exceder 100 caracteres.</span>
    </div>
  </div>

  <div class="form-row-two-columns">
    <div class="form-group  capacity">
      <label class="form-label" for="capacity">Capacidade:</label>
      <input class="form-input" type="number" id="capacity"formControlName="capacity">
      <div class="error-message" *ngIf="isFieldInvalid('capacity')">
        <span *ngIf="garageForm.get('capacity')?.errors?.['required']">A capacidade da propriedade é obrigatória.</span>
        <span *ngIf="garageForm.get('capacity')?.errors?.['min']">A capacidade deve ser pelo menos 1.</span>
        <span *ngIf="garageForm.get('capacity')?.errors?.['max']">A capacidade não pode exceder 1000.</span>
      </div>
    </div>

    <div class="form-group image-upload-group">
      <label class="form-label add-photo-button" for="imageFile">
        <i class="fa-solid fa-camera-retro"></i>
      </label>
      <input class="form-file" type="file" id="imageFile" accept="image/*" (change)="onFileSelected($event)">
      <div class="error-message" *ngIf="imageFileError">
        <span>{{ imageFileError }}</span>
      </div>
    </div>
  </div>
    
  <div class="form-image-previews-and-actions">
    <div class="form-image-preview" *ngIf="currentImagePreview">
    <p>Pré-visualização da Imagem:</p>
      <img [src]="currentImagePreview" alt="Pré-visualização da imagem da propriedade">
      <p *ngIf="isEditMode && currentImagePreview !== getBaseUrl() + originalImageUrl">
        Nova imagem selecionada.
      </p>
    </div>

    <div class="form-image-existing" *ngIf="isEditMode && !selectedFile && originalImageUrl && !garageForm.get('removeExistingImage')?.value">
      <p>Imagem existente:</p>
      <img [src]="getBaseUrl() + originalImageUrl" alt="Imagem atual da propriedade.">
    </div>
  
    <div class="form-image-remove" *ngIf="isEditMode && originalImageUrl">
      <input class="form-input" type="checkbox" id="removeExistingImage" formControlName="removeExistingImage">
      <label class="form-label" for="removeExistingImage">Remover imagem existente</label>
    </div>


    <button class="form-button" type="button" (click)="removeImage()">Remover Imagem</button>
    <div class="error-message" *ngIf="imageFileError">
      <span>{{ imageFileError }}</span>
    </div>

  </div>

  <div class="form-actions">
    <button class="form-button primary" type="submit">
      {{ isEditMode ? 'Salvar Alterações' : 'Adicionar Propriedade' }}
    </button>
    <button class="form-button cancel-button" type="button" (click)="router.navigate(['/garages'])">
      Cancelar
    </button>
  </div>
</form>