
<form [formGroup]="garageForm" (ngSubmit)="onSubmit()">
  <h2>{{ isEditMode ? 'Editar Propriedade' : 'Adicionar Nova Propriedade' }}</h2>
  <input type="hidden" formControlName="id">

  <div>
    <label for="type">Tipo de Propriedade:</label>
    <select id="type" formControlName="type">
      <option [ngValue]="''" disabled>Selecione um Tipo</option>
      <option *ngFor="let propertyType of propertyTypes" [ngValue]="propertyType">{{ propertyType }}</option>
    </select>
    <div *ngIf="isFieldInvalid('type')" class="error-message">
      <span *ngIf="garageForm.get('type')?.errors?.['required']">O tipo da propriedade é obrigatório.</span>
    </div>
  </div>

  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="isFieldInvalid('name')" class="error-message">
      <span *ngIf="garageForm.get('name')?.errors?.['required']">O nome da propriedade é obrigatório.</span>
      <span *ngIf="garageForm.get('name')?.errors?.['maxlength']">O nome da propriedade não pode exceder 100 caracteres.</span>
    </div>
  </div>

  <div>
    <label for="location">Localização</label>
    <input type="text" id="location" formControlName="location">
    <div *ngIf="isFieldInvalid('location')" class="error-message">
      <span *ngIf="garageForm.get('location')?.errors?.['required']">A localização da propriedade é obrigatória.</span>
      <span *ngIf="garageForm.get('location')?.errors?.['maxlength']">A localização da propriedade não pode exceder 200 caracteres.</span>
    </div>

    <div>
      <label for="stateArea">Estado/Área:</label>
      <input type="text" id="stateArea" formControlName="stateArea">
      <div *ngIf="isFieldInvalid('stateArea')" class="error-message">
        <span *ngIf="garageForm.get('stateArea')?.errors?.['required']">O Estado/Área da propriedade é obrigatório.</span>
        <span *ngIf="garageForm.get('stateArea')?.errors?.['maxlength']">O Estado/Área não pode exceder 100 caracteres.</span>
      </div>
    </div>
  </div>

  <div>
    <label for="capacity">Capacidade:</label>
    <input type="number" id="capacity"formControlName="capacity">
    <div *ngIf="isFieldInvalid('capacity')" class="error-message">
      <span *ngIf="isFieldInvalid('capacity')" class="error-message">
        <span *ngIf="garageForm.get('capacity')?.errors?.['required']">A capacidade da propriedade é obrigatória.</span>
        <span *ngIf="garageForm.get('capacity')?.errors?.['min']">A capacidade deve ser pelo menos 1.</span>
        <span *ngIf="garageForm.get('capacity')?.errors?.['max']">A capacidade não pode exceder 1000.</span>
      </span>
    </div>
  </div>

  <div>
    <label for="imageFile">Imagem da Propriedade (Opcional):</label>
    <input type="file" id="imageFile" accept="image/*" (change)="onFileSelected($event)">
    <div *ngIf="imageFileError" class="error-message">
      <span>{{ imageFileError }}</span>
    </div>
    
    <div *ngIf="currentImagePreview">
      <img
      [src]="currentImagePreview"
      alt="Pré-visualização da imagem da propriedade"
      style="max-width: 200px; max-height: 200px; margin-top: 10px;">
      <p *ngIf="isEditMode && currentImagePreview !== getBaseUrl() + originalImageUrl">
        Nova imagem selecionada.
      </p>
    </div>
    <div *ngIf="isEditMode && !selectedFile && originalImageUrl && !garageForm.get('removeExistingImage')?.value">
      <p>Imagem existente:</p>
      <img [src]="getBaseUrl() + originalImageUrl" alt="Imagem atual da propriedade." style="max-width: 200px; max-height: 200px; margin-top: 10px;">
    </div>

    <div *ngIf="isEditMode && originalImageUrl">
      <input type="checkbox" id="removeExistingImage" formControlName="removeExistingImage">
      <label for="removeExistingImage">Remover imagem existente</label>
    </div>

    <button type="button" (click)="removeImage()" style="margin-left: 10px;">Remover Imagem</button>
    <div *ngIf="imageFileError" class="error-message">
      <span>{{ imageFileError }}</span>
    </div>
  </div>

  <button type="submit">{{ isEditMode ? 'Salvar Alterações' : 'Adicionar Propriedade' }}</button>
  <button type="button" (click)="router.navigate(['/garages'])" class="cancel-button">Cancelar</button>
</form>