<form class="form-container" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <h2 class="subtitle page-vehicles">{{ isEditMode ? 'Editar Veículo' : 'Adicionar Novo Veículo' }}</h2>
  <input class="form-input" type="hidden" formControlName="id">

  <div class="form-group">
    <label class="form-label" for="garage">Garagem:</label>
    <select class="form-select" id="garage" formControlName="garageId">
      <option [ngValue]="0" disabled>Selecione uma Garagem</option>
      <option *ngFor="let garage of garages" [ngValue]="garage.id">
        {{ garage.name }} (Capacidade: {{ garage.capacity }})
      </option>
    </select>
    <div class="error-message" *ngIf="isFieldInvalid('garageId')">
      <span *ngIf="vehicleForm.get('garageId')?.errors?.['required'] || vehicleForm.get('garageId')?.errors?.['min']">Selecione uma garagem válida.</span>
    </div>
    <p *ngIf="garages.length === 0" style="color: red;">Nenhuma garagem disponível. Por favor, adicione uma garagem primeiro.</p>
  </div>

  <div class="form-group">
    <label class="form-label" for="type">Tipo (Carro, Moto, Caminhão, etc.):</label>
    <input class="form-input" type="text" id="type" formControlName="type">
    <div class="error-message" *ngIf="isFieldInvalid('type')">
      <span *ngIf="vehicleForm.get('type')?.errors?.['required']">Tipo de veículo é obrigatório.</span>
      <span *ngIf="vehicleForm.get('type')?.errors?.['maxlength']">Tipo não pode exceder 50 caracteres.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="manufacturer">Fabricante:</label>
    <input class="form-input" type="text" id="manufacturer" formControlName="manufacturer">
  </div>

  <div class="form-group">
    <label class="form-label" for="category">Categoria / Classe</label>
    <input class="form-input" type="text" id="category" formControlName="category">
  </div>

  <div class="form-group">
    <label class="form-label" for="name">Nome do Veículo:</label>
    <input class="form-input" type="text" id="name" formControlName="name">
    <div class="error-message" *ngIf="isFieldInvalid('name')">
      <span *ngIf="vehicleForm.get('name')?.errors?.['required']">Nome do veículo é obrigatório.</span>
      <span *ngIf="vehicleForm.get('name')?.errors?.['maxlength']">Nome não pode exceder 100 caracteres.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="topSpeed">Velocidade Máxima / Classe</label>
    <input class="form-input" type="text" id="topSpeed" formControlName="topSpeed">
  </div>

  <div class="form-group">
    <label class="form-label" for="seatingCapacity">Quantidade de Assentos</label>
    <input class="form-input" type="text" id="seatingCapacity" formControlName="seatingCapacity">
  </div>

  <div class="form-group">
    <label class="form-label" for="notes">Notas (Opcional):</label>
    <textarea id="notes" formControlName="notes"></textarea>
    <div class="error-message" *ngIf="isFieldInvalid('notes')">
      <span *ngIf="vehicleForm.get('notes')?.errors?.['maxlength']">Notas não podem exceder 500 caracteres.</span>
    </div>
  </div>

  <div class="form-group form-image-upload-wrapper">
    <label class="form-label" for="carImage">Imagem do Veículo (Opcional):</label>
    <input type="file" id="carImage" accept="image/*" (change)="onFileSelected($event)">

    <div *ngIf="currentCarImagePreview">
      <img [src]="currentCarImagePreview" alt="Pré-visualização da Imagem" style="max-width: 200px; max-height: 200px; margin-top: 10px; border-radius: 4px;">
    </div>

    <div class="form-image-error-message" *ngIf="imageFileError">
      <span>{{ imageFileError }}</span>
    </div>
  </div>

  <div class="form-actions">
    <button class="form-button primary" type="submit" [disabled]="garages.length === 0 && !isEditMode">Salvar</button>
    <button class="form-button cancel-button" type="button" (click)="router.navigate(['/vehicles'])">Cancelar</button>
  </div>
</form>