<form class="form-container" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <h2 class="subtitle page-vehicles">{{ isEditMode ? 'Editar Veículo' : 'Adicionar Novo Veículo' }}</h2>
  <input class="form-input" type="hidden" formControlName="id">

  <div class="form-group">
    <label class="form-label" for="garage">Propriedade:</label>
    <select class="form-select" id="garage" formControlName="garageId">
      <option [ngValue]="0" disabled>Selecione uma Propriedade</option>
      <option *ngFor="let garage of garages" [ngValue]="garage.id">
        {{ garage.name }} (Capacidade: {{ garage.capacity }})
      </option>
    </select>
    <div class="error-message" *ngIf="isFieldInvalid('garageId')">
      <span *ngIf="vehicleForm.get('garageId')?.errors?.['required'] || vehicleForm.get('garageId')?.errors?.['min']">Selecione uma propriedade válida.</span>
    </div>
    <p *ngIf="garages.length === 0" style="color: red;">Nenhuma propriedade disponível. Por favor, adicione uma propriedade com garagem primeiro.</p>
  </div>

  <div class="form-group">
    <label class="form-label" for="type">Tipo de veículo:</label>
    <select class="form-select" id="type" formControlName="type">
        <option [ngValue]="0" disabled>Selecione um Tipo</option>
        <option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</option>
      </select>
      <div class="error-message" *ngIf="isFieldInvalid('type')">
        <span *ngIf="vehicleForm.get('type')?.errors?.['required']">O tipo do veículo é obrigatório.</span>
      </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="manufacturer">Fabricante:</label>
    <select class="form-select" id="manufacturer" formControlName="manufacturer">
      <option [ngValue]="0" disabled>Selecione um Fabricante</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">{{ manufacturer }}</option>
    </select>
    <div class="error-message" *ngIf="isFieldInvalid('manufacturer')">
      <span *ngIf="vehicleForm.get('manufacturer')?.errors?.['required']">O fabricante é obrigatório.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="category">Categoria / Classe:</label>
    <select class="form-select" id="category" formControlName="category">
        <option [ngValue]="0" disabled>Selecione uma Categoria</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
      <div class="error-message" *ngIf="isFieldInvalid('category')">
        <span *ngIf="vehicleForm.get('category')?.errors?.['required']">A categoria é obrigatória.</span>
      </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="name">Nome do Veículo:</label>
    <input class="form-input" type="text" id="name" formControlName="name">
    <div class="error-message" *ngIf="isFieldInvalid('name')">
      <span *ngIf="vehicleForm.get('name')?.errors?.['required']">Nome do veículo é obrigatório.</span>
      <span *ngIf="vehicleForm.get('name')?.errors?.['maxlength']">Nome não pode exceder 100 caracteres.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="topSpeed">Velocidade Máxima (Opcional):</label>
    <input class="form-input" type="text" id="topSpeed" formControlName="topSpeed">
  </div>

  <div class="form-group">
    <label class="form-label" for="seatingCapacity">Quantidade de Assentos (Opcional:)</label>
    <input class="form-input" type="text" id="seatingCapacity" formControlName="seatingCapacity">
  </div>

  <div class="form-group">
    <label class="form-label" for="notes">Notas (Opcional):</label>
    <textarea class="form-input" id="notes" formControlName="notes"></textarea>
    <div class="error-message" *ngIf="isFieldInvalid('notes')">
      <span *ngIf="vehicleForm.get('notes')?.errors?.['maxlength']">Notas não podem exceder 140 caracteres.</span>
    </div>
  </div>

  <div class="form-group form-image-upload-wrapper">
    <label class="form-label add-photo-button" for="imageFile"
      [ngClass]="{ 'has-image': currentCarImagePreview }"
      [style.background-image]="currentCarImagePreview ? 'url(' + currentCarImagePreview + ')' : ''">
    <i class="fa-solid fa-camera-retro"></i>
    <input class="form-file" type="file" id="imageFile" accept="image/*" (change)="onFileSelected($event)" #fileInput>
    </label>
    <button
      type="button"
      class="form-button form-button-remove-image"
      (click)="removeImage()"
      title="Excluir imagem"
      >
    <i class="fa-solid fa-trash-can"></i> Excluir
    </button>
  </div>

  <div class="form-image-error-message" *ngIf="imageFileError">
    <div class="error-message">
      <span>{{ imageFileError }}</span>
    </div>
  </div>

  <div class="form-actions">
    <button class="form-button primary" type="submit" [disabled]="garages.length === 0 && !isEditMode">
      {{ isEditMode ? 'Salvar Alterações' : 'Adicionar Veículo' }}
    </button>
    <button class="form-button cancel-button" type="button" (click)="router.navigate(['/vehicles'])">Cancelar</button>
  </div>
</form>